

.button{
  font-size: $font-size-large;
  height: 4rem;
  padding: 1rem;
  margin-right: $s-size;
  background-color: white;
  border-radius: 8px;
  width: 12rem;
}

.button__submit{
  background-color: $blue;
  color: white;
}