.header{
  background : $blue;
  color: $off-white;
  display: flex;
  flex-direction: row;
  font-size: $font-size-xxlarge;
  justify-content: space-between;
  padding: $s-size;
  @media (min-width: $desktop-breakpoint){
    font-size: 4rem;
  }
  
}

.header-button{
  background : $blue;
  border: none;
  color: $off-white;
  font-size: $font-size-small;
}