.text-input{
  font-size: $font-size-large;
  height: $l-size;
  @media (min-width: $desktop-breakpoint){
    width: 45rem;
    margin: 0 1rem 0 0;
  }
}

.text-input--filter{
  font-size: $font-size-large;
  height: $xl-size;
  @media (min-width: $desktop-breakpoint){
    width: 45rem;
    margin: 0 1rem 0 0;
  }
}

.amount-input{
  font-size: $font-size-large;
  height: $xl-size;
  margin: 0 1rem 0 0;
  margin-bottom: $s-size;
  width: 9rem;
  height: $l-size;
  @media (min-width: $desktop-breakpoint){
  }
}

.date-input{
  margin-bottom: $s-size;
  @media (min-width: $desktop-breakpoint){
    margin:0 $s-size $s-size $l-size;
  }
}


// .date-input > * {
//   height: $s-size;
// }

// .date-input, 
// .date-input > div.react-datepicker-wrapper, 
// .date-input > div > div.react-datepicker__input-container
// .date-input > div > div.react-datepicker__input-container input {
//   height: 20%;
// }
