.input-text{
  font-size: $font-size-large;
  height: $l-size;
  width: 15rem;
  @media (min-width: $desktop-breakpoint){
    width: 45rem;
    margin: 0 1rem 0 0;
  }
}

.input-text__filter{
  height: $xl-size;
  
}

.input-text__login{
  margin-bottom: $s-size;
  
  @media (min-width: $desktop-breakpoint){
    margin: 0 0rem $s-size 0;
    width: 20rem;
  }
}

.amount-input{
  font-size: $font-size-large;
  height: $xl-size;
  margin: 0 1rem $s-size 0;
  margin-bottom: $s-size;
  width: 9rem;
  height: $l-size;
  @media (min-width: $desktop-breakpoint){
    margin: 0 0 0 0;
  }
}

.date-input{
  margin-bottom: $s-size;
  @media (min-width: $desktop-breakpoint){
    margin:0 $s-size $s-size $l-size;
  }
}

.check-input{
  
  height: 4rem;
  padding: 1rem;
  width: 4rem;
  margin-right: $s-size;
  @media (min-width: $desktop-breakpoint){
   
  }
}

.error-message{
  color: red;
  @media (min-width: $desktop-breakpoint){
    margin-left: $m-size;
    
  }
}

// .button--add{
//   background-color: $light-grey;
//   border: 1px solid darken($light-grey, 7%);
//   height: 4rem;
//   padding: 1rem;
//   width: 4rem;
//   margin-right: $s-size;
// }



// .date-input > * {
//   height: $s-size;
// }

// .date-input, 
// .date-input > div.react-datepicker-wrapper, 
// .date-input > div > div.react-datepicker__input-container
// .date-input > div > div.react-datepicker__input-container input {
//   height: 20%;
// }
