.select {
  font-size: $font-size-xlarge;
  height: $xl-size;
  margin: 0 1rem 0 0;

  position: relative;
  width: 20rem;
  
}

.select-transaction{
  font-size: $font-size-large;
  height: $l-size;
  margin: 0 1rem 0 0;

  position: relative;
  width: 10rem;

}