.select {
  //background-color: transparent;
  border: 1px solid $light-grey;
  color: $grey;
  font-size: $font-size-large;
 // height: 50px;
  margin: 0 1rem 0 0;
 // overflow: hidden;
  padding-left: $s-size;
  //position: relative;
  //-webkit-appearance: none;
}

.select__filter {
  height: $xl-size;
  //`height: 50px;
  margin: 0;
  -webkit-appearance: menulist;
  width: 10rem;
  @media (min-width: $desktop-breakpoint){
    width: 20rem;
  }
}

.select__transaction{
  margin-bottom: $s-size;
  width: 9rem;
  height: $l-size;
  @media (min-width: $desktop-breakpoint){
    width: 10rem;
  }
}


