.select {
  background-color: transparent;
  border: 1px solid $light-grey;
  color: $grey;
  font-size: $font-size-large;
  margin: 0 1rem 0 0;
 // overflow: hidden;
  padding-left: $s-size;
  //position: relative;
 
}

.select__filter {
  height: $xl-size;
  margin: 0;
  width: 10rem;
  @media (max-width: $desktop-breakpoint){
    width: 20rem;
  }
}

.select__transaction{
  height: $l-size;
  margin-bottom: $s-size;
  width: 9rem;
  @media (max-width: $desktop-breakpoint){
    height: $l-size;
    width: 10rem;
  }
}


