.controls{
  grid-column: 2/3;
  grid-row: 3;
  padding: $s-size;
  margin: 0 10rem 0 1rem;
  display: flex;
  flex-direction: row;
}

.control--buttons{
  padding: $s-size;
  margin: 0 1rem 0 1rem;
  
}