.data-grid{
  grid-column: 2/3;
  grid-row: 4;
}

.data-body{
  margin-bottom: $m-size;
 
  // display: flex;
  // flex-direction: column;
  display: grid;
  grid-template-columns: auto, auto, auto, auto, auto, auto, auto;
}

.data-body > div {
  background-color: lightblue;
}

.data-header {
  border: 1px solid darken($off-white, 7%);
  color: $dark-grey;
  display: content;
  // display: flex;
  // flex-direction: row;
  // display: grid;
  // grid-template-columns: auto, auto, auto, auto, auto, auto, auto;
}

.data-header--checkbox{
  // width: 5rem;
  // min-width: 5rem;
   grid-column: 1/2;
   grid-row: 1;
}

.data-header--date{
  // width: 20rem;
  // min-width: 20rem;
   grid-column: 2/3;
   grid-row: 1;
}

.data-header--description{
  // width: 45rem;
  // min-width: 20rem;
  grid-column: 3/4;
  grid-row: 1;
}

.data-header--amount{
  // width: 11rem;
  grid-column: 4/5;
  grid-row: 1;
}

.data-header--cycle{
  // width: 5rem;
  // min-width: 5rem;
  grid-column: 5/6;
  grid-row: 1;
}

.data-row{
  display: content;
    border: 1px solid darken($off-white, 7%);
    border-top: none;
    color: $dark-grey;
   // display: content;
    display: grid;
  grid-template-columns: auto, auto, auto, auto, auto, auto, auto;
    // display: flex;
    // flex-direction: row;
    &:hover {
      background: $off-white;
  }
    > * {
      margin-left: $s-size;
    }
}


.data-row--checkbox{
  // width: 5rem;
  // min-width: 5rem;
  grid-column: 1/2;
  grid-row: 1;
}

.data-row--date{
  // width: 20rem;
  // min-width: 20rem;
  grid-column: 2/3;
   grid-row: 1;
}

.data-row--description{
  width: 60rem;
  min-width: 10rem;
  grid-column: 3/4;
  grid-row: 1;
}

.data-row--amount{
  width : 11rem;
  min-width: 5rem;
  grid-column: 4/5;
  grid-row: 1;
}

