.header{
  margin-bottom: $m-size;
  display: flex;
  flex-direction: row;
  font-size: $font-size-xlarge;
  font-weight: 300;
  grid-column: 2/3;
  grid-row: 1;
}

.header-button{
  font-size: $font-size-large;
    font-weight: 300;
    padding: $s-size $m-size;
  //  margin-left: auto;
    margin: 3rem 1rem 3rem auto;

}