.side-bar{
  grid-column: 1/1;
  grid-row:2/5;
  width: 0;
  margin: 0;
}

.side-bar--icons{
  padding: $s-size;
  // display: flex;
  // flex-direction: column;
  margin: 0;
  padding: 0 1rem 0 0;
  width: 0px;

}

.side-bar--icon{
  width: 6.4rem;
  height: 6.4rem;

}